
<section id = "login">
  <h2>Log in</h2>
  <%= form_with(scope: :session, url: sessions_path, local: true) do |f| %>
    <p id = "notice"><%= notice %></p>
      <%= f.label :メールアドレス %>
      <%= f.email_field :email,class: 'form-control' %>
      
      <%= f.label :パスワード %>
      <%= f.password_field :password,class: 'form-control' %>
      <br>
      <%= f.submit "ログイン", class: 'btn btn-light'%>
  <% end %>
  
</section>
<div class="test",style="text-align: center;">
  <p>テストログイン</p> 
  <p>メールアドレス:  t@t.com</p>
  <p>パスワード:  111111</p>
  <p><a href = "https://github.com/keiichiroukimura/coordi">git hubリンク</a></p>
<div>