<h5 style="text-align: center; margin-top: 300px;"><%= "#{@user.name}さんのいいね一覧" %></h5>

<div class="container">
  <div class="row">
    <% @favorites.each do |favorite| %>
    <div class= "col-md-4 col-xs-12", style="height: 35rem">
      <div class="card_index" style="width: 20rem;">
        <div class="card-header">
            <div id = "index_name"> 
              投稿者: <%= favorite.clothe.user.name %>
            </div>
        </div>
        <%= link_to "詳細", clothe_path(favorite.clothe.id), class: "btn btn-default", style:"float: right;" %>
        
        <div class="card-body", style:"height: 40rem;" >
          <%= image_tag favorite.clothe.image_first.to_s, class: "index_image", :size => "310x310" %>
          <%= favorite.clothe.height %>
          <br>
          <% clothe.labels.each do |a| %>
            シーン別: <label style="background-color: pink; height: 22px; border-radius: 15%;"><%=  a.content %></label>
          <% end %>
        </div>
        <div class="card-footer" style="height: 5rem;">  
            <%= "コメント" %> 
            <%= simple_format(favorite.clothe.content) %>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>