
<h5 style="text-align: center; margin-top: 300px;"><%= "#{@user.name}さんの投稿一覧" %></h5>

<div class="container", style="margin-top: 40px;">
  <div class="row">
    <% @clothes.each do |clothe| %>
    <div class= "col-md-4", style="height: 35rem">
      <div class="card_user" style="width: 20rem;">
        
        <div class="card-body", style="height: 27rem;">
          <%if clothe.favorite_count.present? %>
            <div class="vertical_like">
              <i class="fas fa-heart", style="color: red; float: left; margin-top: 8px;"></i>
                <span class="red-text">             
                  <%= clothe.favorite_count %>
                </span>
            </div>
          <% end %>
          <%= link_to "詳細", clothe_path(clothe.id), class: "btn btn-default" %>
          <% if logged_in? && clothe.user_id == current_user.id %>  
            <%= link_to 'Edit', edit_clothe_path(clothe.id), class: "btn btn-default", style: "color: blue; float: right;" %>
            <%= link_to 'Destroy',clothe_path(clothe.id), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-default", style: "color: red; float: right;"%>
          <% end %>
          <%= image_tag clothe.image_first.to_s, class: "index_image", :size => "310x310" %>
          <%= clothe.height %>
          <br>
          <% if clothe.labels.present? %>
          シーン別:
            <% clothe.labels.each do |a| %>
               <label style="background-color: pink; height: 22px; border-radius: 15%;"><%=  a.content %></label>
            <% end %>
          <% end %>
        </div>
        
        <div class="card-footer" style="height: 5rem;">  
          <%= "コメント" %>  
          <div id = "content">
            <%= simple_format(clothe.content) %>
          </div>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>