<div class = "clothes_index">
    <%= form_with(model: clothe, local: true) do |form| %>
      <div class="clothes_image">
        <%= form.file_field :image_first%>
        <br>
        <%= form.file_field :image_second %>
        <br>
        <%= form.file_field :image_third %>
      </div>
      <div class="clothes_gender">
        <%= form.label :gender %>
        <br>
        <%= form.select :gender, Clothe.genders.keys, class: 'form-control'%>
      </div>
      <div class="clothes_height">
        <%= form.label :height %>
        <br>
        <%= form.select :height, Clothe.heights.keys, class: 'form-control'%>
      </div>
      <div class="clothes_content">
        <%= form.label :content %>
        <br>
        <%= form.text_area :content, class: 'form-control',id: 'new_content'%>
      </div>
      <br>
      <%= form.submit "確認", class: "btn btn-light" %>
    <% end %>
    <br>
  <%= link_to t('view.back'), clothes_path ,class: "btn btn-light" %>
</div>
