<div class="container">
  <div class="row">
    <% @clothes.each do |clothe| %>
    <div class= "col-md-4", style="height: 35rem">
      <div class="card_index" style="width: 20rem;">
        <div class="card-header">
            <div id = "index_name"> 
              投稿者: <%= clothe.user.name %>
            </div>
        </div>
        <%= link_to "詳細", clothe_path(clothe.id), class: "btn btn-default", style:"float: right;" %>
        <div class="card-body" >
          <%= image_tag clothe.image_first.to_s, id: "index_image", :size => "310x310" %>
          <%= clothe.height %>
          
          <br>
          <p style="float: left;">ここに注目！</p>
          <% clothe.labels.each do |a| %>
            <%= a.content%>
          <% end %>
        </div>
        
        <div class="card-footer" style="height: 5rem;">  
          <%= "コメント" %>  
          <div id = "content">
            <%= simple_format(clothe.content) %>
          </div>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>