<div id="search", style="margin-top: 250px;">
  <%= form_with(model: @clothe, method: :get, local: true, url: clothes_path) do |form| %>
    <%= form.label :gender %>
    <%= form.select :gender, Clothe.genders.keys,include_blank: true,class: 'form-control' %>
    <br>
    <%= form.label :height %>
    <%= form.select :height, Clothe.heights.keys,include_blank: true,class: 'form-control' %>
    <br>
    <%= form.label :label, 'ラベル名' %>
    <%= form.select :label_id, Label.all.map {|t| t.content} ,include_blank: true, class: 'form-control' %>
    <%= form.hidden_field :search, value: 'true' %>
    <%= form.submit "検索", class: "btn-default"%>
  <% end %>
</div>
<div class="container">
  <div class="row">
    <% @searched_clothes.each do |clothe| %>
    <div class= "col-md-4 col-xs-12", style="height: 35rem">
      <div class="card_index" style="width: 20rem;">
        <div class="card-header">
            <div id = "index_name"> 
              投稿者: <%= clothe.user.name %>
            </div>
        </div>
        <%= link_to "詳細", clothe_path(clothe.id), class: "btn btn-default", style:"float: right;" %>
        <div id="favorites_buttons_<%= clothe.id %>">
          <%= render partial: 'favorites/favorite', locals: { clothe: clothe, favorites: @favorites} %>
        </div>
        <div class="card-body" >
          <%= image_tag clothe.image_first.to_s, id: "index_image", :size => "310x310" %>
          <%= clothe.height %>
          <br>
          <% clothe.labels.each do |a| %>
            ここに注目！ : <label style="background-color: pink; height: 22px; border-radius: 15%;"><%= a.content %></label>
          <% end %>
        </div>
        <div class="card-footer" style="height: 5rem;">  
            <%= "コメント" %> 
            <%= simple_format(clothe.content) %>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>