
<div class = "clothes_index">
    <%= form_with(model: @clothe, local: true, url: confirm_clothes_path) do |form| %>
    <% if @clothe.errors.any? %>
      <div id="error_explanation">
        <h4><%= pluralize(@clothe.errors.count, "件") %> のエラーが発生しました。</h4>
        <ul>
        <% @clothe.errors.full_messages.each do |message| %>
           <li><%= message %></li>
        <% end %>
        </ul>
      </div>
<% end %>
      <div class="clothes_image">
        <%= form.file_field :image_first %>
        <%= form.hidden_field :image_first_cache %>
        <br>
        <%= form.file_field :image_second %>
        <%= form.hidden_field :image_second_cache %>
        <br>
        <%= form.file_field :image_third %>
        <%= form.hidden_field :image_third_cache %>
      </div>
      <div class="clothes_gender">
        <%= form.label :gender, t('view.gender') %>
        <br>
        <%= form.select :gender, Clothe.genders.keys, class: 'form-control'%>
      </div>
      <div class="clothes_height">
        <%= form.label :height , t('view.height') %>
        <br>
        <%= form.select :height, Clothe.heights.keys, class: 'form-control'%>
      </div>
      <div class="clothes_content">
        <%= form.label :content, t('view.content') %>
        <br>
        <%= form.text_area :content, class: 'form-control',id: 'new_content'%>
      </div>
        <%= form.collection_check_boxes(:label_ids, Label.all, :id, :content) do |b|%>
          <%= b.label { b.check_box + b.text }%>
        <% end %>
      <br>
      <%= form.submit t('view.confirm'), class: "btn btn-light" %>
      <br>
      <br>
      <%= link_to t('view.back'), clothes_path,class: "btn btn-light" %>
    <% end %>
    <br>
</div>
