<div class="clothe_show", style="margin-top: 260px;">
  <<% if clothe.labels.present? %>
  シーン別:
    <% clothe.labels.each do |a| %>
       <label style="background-color: pink; height: 22px; border-radius: 15%;"><%=  a.content %></label>
    <% end %>
  <% end %>
      <br>
      <%= @clothe.height %>
      <br>
      <%= "コメント" %>  
        <div id = "content">
          <%= simple_format(@clothe.content) %>
        </div>
      <div class="container">
        <div class="row">
      
        <div class="col-md-4" >
          <div class="card_clothe_show">
            <%= image_tag @clothe.image_first.to_s, :size => "320x320" ,style: "object-fit: cover;"%>
          </div>
        </div>
        <% if @clothe.image_second.present?%>
          <div class="col-md-4" >
            <div class="card_clothe_show">
              <%= image_tag @clothe.image_second.to_s,  :size => "320x320", style: "object-fit: cover;" %>
            </div>
          </div>
        <% end %>
        <% if @clothe.image_third.present?%>
          <div class="col-md-4" >
            <div class="card_clothe_show">
              <%= image_tag @clothe.image_third.to_s,  :size => "320x320", style: "object-fit: cover;" %>
            </div>
          </div>
        <% end %>
        <div class="clothe_show" style="height: 7rem;">  
          
        </div>
      </div>
    </div>
  </div>
</div>